.card {
    flex: 0 0 28%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-status {
      color: $color-allowed;
      float: right;
      margin-top: -10px;
    }

    .loading {
      margin-right: 5px;
    }
    
    .inactive {
      color: $color-blocked;
    }
  }

  .disabled-card {
    opacity: 50%;
    cursor: not-allowed;
  }